$hydration-primary: #5BC8AC;
$sleep-primary: #EC96A4;
$activity-primary: #DFE166;

%small-border {
  border: 1px solid black;
}

%row-wrapper {
  display: flex;
  flex-direction: row;
}

%column-wrapper {
  display: flex;
  flex-direction: column;
}

%card-container {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin: 1%;
  overflow: scroll;
}

%info-card {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  width: 95%;
  flex-grow: .1;
}

%list-wrapper {
  text-align: center;
  justify-content: flex-start;
  margin: 3%;
  @extend %column-wrapper
}

.list-header {
  font-weight: bolder;
}

.list-text {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: 1em;
}

.main-wrapper {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  overflow: scroll;
  @extend %column-wrapper;
  @extend %small-border;
}

.hydration-wrapper {
  height: 250px;
  @extend %row-wrapper;
}

.activity-wrapper {
  height: 450px;
  @extend %row-wrapper;
}

.sleep-wrapper {
  height: 325px;
  @extend %row-wrapper;
}

.left-card-container {
  @extend %card-container;
  @extend %column-wrapper;
}

.middle-card-container {
  overflow: scroll;
  @extend %card-container;
  @extend %row-wrapper;
}

.info-card-hydration {
  height: 45%;
  background-color: $hydration-primary;
  @extend %info-card;
}

.info-card-sleep {
  background-color: $sleep-primary;
  @extend %info-card;
}

.info-card-activity {
  background-color: $activity-primary;
  @extend %info-card;
}

.hydration-list {
  width: 95%;
  background-color: $hydration-primary;
  @extend %list-wrapper;
}

.sleep-list {
  width: 45%;
  background-color: $sleep-primary;
  @extend %list-wrapper;
}

.activity-list {
  background-color: $activity-primary;
  @extend %list-wrapper;
}
