@import 'header';
@import 'user-info';
@import 'cards';
@import 'forms';

* {
  margin: 0;
}

body {
  font-family: 'Open Sans';
  background-color: #4d4e4f;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
